<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Basic Quiz</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <body>
        <div class="container-fluid mt-5">
            <div class="container bg-dark p-5 text-light">
                <h1 class="display-4">Welcome to Basic Quiz</h1>
                <hr>
                <p>This quiz has ten (10) questions. Each question has one possible answer. Choose the correct
                    answer and at the end of the quiz you'll receive your score and percentage. Good Luck!
                </p>
                <a class="btn btn-primary" href="#" role="button">Start Quiz</a>
            </div>
        </div>
    </body>
</html>
