{% extends 'quiz/base.html' %}
{% block content %}
    <div class="container-fluid mt-5">
        <div class="container bg-dark p-5 text-light">
            <h1 class="display-4">Welcome to Basic Quiz</h1>
            <hr>
            <p>This quiz has ten (10) questions. Each question has one possible answer. Choose the correct
                answer and at the end of the quiz you'll receive your score and percentage. Good Luck!
            </p>
            <a class="btn btn-primary" href="{% url 'quiz:quiz' %}" role="button">Start Quiz</a>
        </div>
    </div>
{% endblock %}
